#css-results #css {
    background: green;
} 
#css-results #less {
  background: #008000;
}

#css-results #sass {
  background: green; }

#css-results #scss {
  background: green; }

#css-results #styl {
  background: #008000;
}

