<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Angular.UI.Bootstrap" version="0.5.0" targetFramework="net40" />
  <package id="angularjs" version="1.2.0-RC1" targetFramework="net40" />
  <package id="jQuery" version="1.9.1" targetFramework="net40" />
  <package id="ServiceStack" version="3.9.58" targetFramework="net40" />
  <package id="ServiceStack.Common" version="3.9.58" targetFramework="net40" />
  <package id="ServiceStack.OrmLite.SqlServer" version="3.9.58" targetFramework="net40" />
  <package id="ServiceStack.Razor" version="3.9.58" targetFramework="net40" />
  <package id="ServiceStack.Redis" version="3.9.58" targetFramework="net40" />
  <package id="ServiceStack.Text" version="3.9.58" targetFramework="net40" />
  <package id="System.Web.Razor.Unofficial" version="2.0.2" targetFramework="net40" />
  <package id="Twitter.Bootstrap" version="3.0.0" targetFramework="net40" />
</packages>